complex-config/terraform.tfstate
complex-config/terraform.tfstate.backup
complex-config/.terraform/
complex-config/.terraform.tfstate.lock.info

simple-config/terraform.tfstate
simple-config/terraform.tfstate.backup
simple-config/.terraform/
simple-config/.terraform.tfstate.lock.info